## Minimum cost for tickets

We are about to travel for a period of n days, during which we will use the train in some days that you can find in a given set train_days.

And to use the train, we have to possess either a 1-day pass, a 7-days pass, or a 30-days pass, each one of them has a price that you can find in a given array prices, where prices[0] represents the price of a 1-day pass, prices[1] represents the price of a 7-days pass, and prices[2] represents the price of a 30-days pass.

You are asked to find the minimum amount of money that we need to use the train during all the train days.


### Example:

input:
train_days = [1, 3, 8, 9, 22, 23, 28, 31]\
costs = [4, 10, 25]\
n = 32

output: 28

explanation: The cheapest way is by buying

    a 1-day pass on day 1, we use it on day 1

    a 7-days pass on day 3, we use it during days 3, 8, and 9

    a 7-days pass on day 22, we use it during days 22, 23, and 28

    a 1-day pass on day 31, we use it on day 31

costs[0]+costs[1]+costs[1]+costs[0] = 4+10+10+4 = 28

## The relation

## The bottom-up approach:

In [112]:
train_days = {1, 3, 8, 9, 22, 23, 28, 31}
costs = [4, 10, 25]
n = 32

In [145]:
def cost(train_days, costs, n):
    
    dp = [0]*(n+1)
    
    for i in range(n+1):
        if i not in train_days:
            dp[i] = dp[i-1]
        else:
            aux_7 = 0 if i <7 else dp[i-7]
            aux_30 = 0 if i <30 else dp[i-30]
            dp[i] = min(dp[i-1] + costs[0], aux_7 + costs[1], aux_30 + costs[2])  
    
    return dp[-1]

In [150]:
cost({0, 2, 3, 4, 5, 11, 13, 14, 16, 21, 23, 27, 29, 30, 34, 38, 39, 44, 48, 49, 50, 51, 52, 54, 55, 58, 61, 65, 66, 76, 80, 85, 89, 91}, [4, 18, 74], 96)

128

In [151]:
cost({0, 9, 1, 8}, [4, 23, 92], 13)

16

In [152]:
cost(set(), [4, 26, 100], 1)

0

In [154]:
cost(train_days, costs, n)

28

## The original solution

## Recursive

Time complexity: $O(3^{n})$\
Space complexity: $O(n)$

In [155]:
def cost(train_days, costs, n, day=0):
    if day >= n:
        return 0
    elif day not in train_days:
        return cost(train_days, costs, n, day+1)
    else:
        return min(costs[0] + cost(train_days, costs, n, day+1),
                   costs[1] + cost(train_days, costs, n, day+7),
                   costs[2] + cost(train_days, costs, n, day+30))

In [156]:
cost(train_days, costs, n)

28

## Memoization (top-down)

Time complexity: $O(n)$\
Space complexity: $O(n)$

In [164]:
def cost(train_days, costs, n, day=0, lookup=None):
    lookup = {} if lookup is None else lookup
    if day in lookup:
        return lookup[day]
    if day >= n:
        return 0
    elif day not in train_days:
        lookup[day] = cost(train_days, costs, n, day+1, lookup)
        return lookup[day]
    else:
        lookup[day] = min(costs[0] + cost(train_days, costs, n, day+1, lookup),
                          costs[1] + cost(train_days, costs, n, day+7, lookup),
                          costs[2] + cost(train_days, costs, n, day+30, lookup))
        return lookup[day]

In [165]:
cost(train_days, costs, n)

28

## Tabulation (bottom-up)

Time complexity: $O(n)$\
Space complexity: $O(n)$

In [168]:
def cost(travel_days, costs, n):
    dp = [0]*n
    for i in range(len(dp)):
        if i not in travel_days:
            dp[i] = (dp[i-1] if i-1 >= 0 else 0)
        else:
            day_cost = costs[0] + (dp[i-1] if i-1 >= 0 else 0)
            week_cost = costs[1] + (dp[i-7] if i-7 >= 0 else 0)
            month_cost = costs[2] + (dp[i-30] if i-30 >= 0 else 0)
            dp[i] = min(day_cost, week_cost, month_cost)
    return dp[n-1]

In [169]:
cost(train_days, costs, n)

28

But we can do it in:

Time complexity: $O(n)$\
Space complexity: $O(1)$

In [174]:
def cost(train_days, costs, n):
    
    dp = [0]*31

    for i in range(len(dp)):
        if i not in train_days:
            dp[30] = (dp[29] if i-1 >= 0 else 0)
        else:
            day_cost = costs[0] + (dp[29] if i-1 >= 0 else 0)
            week_cost = costs[1] + (dp[23] if i-7 >= 0 else 0)
            month_cost = costs[2] + (dp[0] if i-30 >= 0 else 0)
            dp[30] = min(day_cost, week_cost, month_cost)
        for j in range(30):
            dp[j] = dp[j+1]
    print(dp)
    return dp[-1]

In [175]:
cost(train_days, costs, n)

[4, 4, 8, 8, 8, 8, 8, 12, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 18, 22, 22, 22, 22, 22, 24, 24, 24, 24]

24